.darkgreen{
	background-color:#364622; color:#fff!important; font-size:24px;font-weight:600;
}
.fentgreen1{
	background-color:#b0b29c;
	color:#4a5036;
	font-size:16px;
}
.fentgreen{
	background-color:#b0b29c;
	color:#4a5036;
}
.font-big{
	font-size:20px;
	font-weight:600;
	color:#364622;
}
.font-big1{
	font-size:18px;
	font-weight:600;
	color:#364622;
}
.table-bordered {
    border: 1px solid #364622;
}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #364622;
	color:#4a5036;
}
.blue{
	color:#574960;
}
.blue1{
	color:#574960;
	font-size:16px;
}
.pad-5{
	padding-left:10px;
}
.np{
	padding-left:0px;
	padding-right:0px;
}
